.selected-container {
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 42px;
  padding: 55px;
}

.poster-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poster-block__image {
  width: 266px;
  height: 356px;
  border-radius: 20px;
  margin-bottom: 32px;
}

.movie-genre {
  color: #AFB2B6;
  font-weight: 500;
  line-height: 24px;
}

.movie-title {
  color: white;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
}

.movie-title_light {
  color: black;
}

.rating-block {
  color: white;
  display: flex;
  gap: 28px;
  padding: 24px 0px 40px 0px;
}

.movie-rating,
.movie-duration {
  font-weight: 600;
  line-height: 24px;
  padding: 2px 8px 2px 8px;
  border-radius: 6px;
}

.movie-rating:first-child {
  background-color: #00A340;
  width: Hug (37px)px;
  height: Hug (28px)px;
}

.movie-rating:nth-child(2),
.movie-duration {
  background-color: #323537;
}

.movie-plot {
  color: white;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 40px;
}

.movie-plot_light {
  color: black;
}

.info-block {
  display: grid;
  grid-template-columns: 35% 60%;
}

.info-title {
  font-weight: 600;
  line-height: 24px;
  color: #AFB2B6;
}

.info-subtitle {
  color: white;
  font-weight: 500;
  line-height: 24px;
}

.info-subtitle_light {
  color: black;
}

.info-subtitle,
.info-title {
  padding-bottom: 20px;
}

.selected-block-recommendations {
  padding-top: 56px;
}

.recommendations__title {
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.recommendations__title_light{
  color: black;
}

.recommendations-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 0px 64px 54px;
}


@media(max-width:1700px) {
  .recommendations-block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media(max-width:1220px) {
  .recommendations-block {
    padding: 20px 0px 32px 0px;
  }
}


@media (max-width: 1040px) {
  .selected-container {
    flex-direction: column;
    align-items: center;
    padding: 25px;
  }
}

@media(max-width:510px) {
  .recommendations-block {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 400px) {
  .selected-container {
    padding: 5px;
    margin: 0 auto;
  }

  .poster-block__image {
    width: 200px;
    height: auto;
  }
}