.aside {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 95vh;
  padding: 48px 0px 0px 64px;
  position: relative;
}

.copyright {
  color: var(--Contextual-Colors-Light, #AFB2B6);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  bottom: 64px;
}

.theme-block{
  display: flex;
  align-items: center;
}
.theme-block__icon {
  width: 24px;
  height: 24px;
  color: #AFB2B6;
}

.theme-block__icon.light {
  color: black;
}

.theme-block__icon.dark {
  color: #AFB2B6;
}
@media (max-width: 800px){
  .aside{
    display: none;
  }
}