.movie-block {
  /* width: 100%; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 56px 10px 64px 10px;
}

.pagination-block {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  padding-top: 54px;
}

.pagination-block__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 8px 24px;
  gap: 10px;
  border-radius: 40px;
  background: var(--Background-Colors-Graphite, #323537);
  color: var(--Contextual-Colors-White, #FFF);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 1670px) {
  .movie-block {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1440px) {
  .movie-block {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1100px) {
  .movie-block {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* 
@media (max-width: 880px) {
  .movie-block {
    grid-template-columns: repeat(2, 1fr);
  }
} */

@media (max-width: 600px) {
  .movie-block {
    grid-template-columns: repeat(1, 1fr);
  }
}