.header-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 64px 0px 64px;
}

.logo {
  width: 158px;
  height: 40px;
  padding-right: 130px;
}

.header-mobile{
  display: none;
  flex-direction: column;
  padding: 10px;
}
.header-top-mobile{
  display: flex;
  padding-bottom: 10px;
  justify-content: space-between;
}

@media (max-width: 1440px){
  .logo{
    padding-right: 65px;
  }
}

@media (max-width: 700px){
  .header-block{
    display: none;
  }
  .header-mobile{
    display: flex;
  }
}

@media (max-width: 350px){
  .logo{
    padding-right: 5px;
  }
}