.search{
  width: 100%;
  display: flex;
  justify-content: center;
}
.search__input {
  width: 70%;
  height: 56px;
  outline: none;
  border: 0;
  border-radius: 10px;
  background-color: #323537;
  color: white;
  padding-left: 20px;
}
.search__input_light{
  background-color: white;
  color: black;
  border: 1px solid black;
}
.search__image {
  right: 40px;
  position: relative;
  cursor: pointer;
}
.search__input:focus{
  border: 2px solid #7B61FF;
}
.search__input:disabled::placeholder{
  color: #AFB2B6;
}
.search__input:disabled{
  background-color: #80858B;
}