.background_dark{
  background-color: #000000;
  min-height: 100vh;
}
.background_light{
  background-color: white;
  min-height: 100vh;
}
.link{
  text-decoration: none;
}
.main{
  display: flex ;
}

@media (max-width: 1440px){
  .main{
    /* justify-content: center; */
  }
}