.link-block{
  display: flex;
  width: 93px;
  gap: 20px;
  padding-bottom: 40px;
  cursor: pointer;
}
.link-block__image{
  padding-right: 20px;
}
.link-block__title{
  color: #80858B;
  font-size: 18px;
  font-weight: 600;
}
.link-block__title:hover{
  color: #917CFF;
}
.link-block__title:active{
  color: #7B61FF;
}